
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 32%, rgba(0, 212, 255, 1) 100%);
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 30px 90px 30px 90px;
    max-width: 400px;
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

label {
    padding-bottom: 5px;
    font-size: 0.9em;
}

input {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 30px;
    border: 1px solid #ddd;
    font-size: 1em;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

button {
    background-color: rgba(0, 0, 255, 0.969);
    color: aliceblue;
    padding: 10px;
    border: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: rgba(0, 0, 200, 0.969);
}

.signin {
    padding-top: 20px;
    text-align: center;
    font-size: 0.9em;
}

.signin a {
    color: #007bff;
    text-decoration: none;
}

.signin a:hover {
    text-decoration: underline;
}

.Error {
    color: red;
    font-size: 14px;
    padding-top: 10px;
}